RewriteEngine on

RewriteRule ^bienvenida$ controllers/bienvenida.php
RewriteRule ^hamburguesa$ controllers/hamburguesa.php
RewriteRule ^pago-([0-9]+)$ controllers/pagos.php?total=$1
RewriteRule ^pago-([0-9]+)-([0-9]+)$ controllers/pagos.php?total=$1&forma=$2
RewriteRule ^vaciar$ controllers/vaciar.php
RewriteRule ^pagos$ controllers/pagos.php
RewriteRule ^carrito$ controllers/carrito.php
RewriteRule ^cargarcarrito$ controllers/cargarcarrito.php
RewriteRule ^informes$ controllers/informes.php
RewriteRule ^informe-ventas$ controllers/ventas.php
RewriteRule ^informe-stock$ controllers/stock.php
RewriteRule ^vaciarauxiliar$ controllers/vaciarauxiliar.php
RewriteRule ^vaciarauxiliarhamburguesa$ controllers/vaciarauxiliarhamburguesa.php
RewriteRule ^actualizar$ controllers/actualizar.php


